<p>Add Shoplifter to Sunshine Conversations so that you can have rich conversations with your users across any channel.</p>

<a href="<%= suncoBaseUrl %>/oauth/authorize?client_id=<%= oauthClientId %>&response_type=code">
  <img
    alt="Add to Sunshine Conversations"
    height="40" width="278"
    src="https://cdn.smooch.io/images/add_to_sunshine_conversations.png"
    srcset="https://cdn.smooch.io/images/add_to_sunshine_conversations.png 1x, https://cdn.smooch.io/images/add_to_sunshine_conversations@2x.png 2x"
  />
</a>
