<!DOCTYPE html>
<html>
  <head>
    <style>
        body {
            color: white;
            background-color: black;
            font-family: Tahoma;
            font-size: 18px;
        }
        .title img {
            height: 100px;
            float: left;
        }
        .title {
            height: 100px;
        }
        .title .text {
            position: relative;
            top: 25%;
            font-family: Georgia;
            font-size: 36px;
        }
        .contet {
            clear: both;
        }
    </style>
  </head>
  <body>
    <div class="title">
      <img src="icon.png">
      <div class="text">Shoplifter</div>
    </div>
    <hr />
    <div class="content">
      <%-body -%>
    </div>
  </body>
</html>
