<h3>Settings</h3>
<br/>
<div><span class="setting">Favorite Color</span><input type="text"/></div>
<br/>
<div><span class="setting">Name of First Pet</span><input type="text"/></div>
<br/>
<div><span class="setting">Shoe Size</span><input type="text"/></div>
<br/>
<div class="save-container">
  <input class="btn btn-primary" type="submit" onclick="document.getElementById('nope').style.display = 'block';" value="Save"/>
  <p id="nope">Nope! 🙈</p>
</div>
