<p>This is the beautiful settings page. Look at all these settings!</p>

<div><span style="width: 200px; display: inline-block; text-align: center;">Setting 1</span><input type="text"/></div>
<br/>
<div><span style="width: 200px; display: inline-block; text-align: center;">Setting B</span><input type="text"/></div>
<br/>
<div><span style="width: 200px; display: inline-block; text-align: center;">The Third Setting</span><input type="text"/></div>
<br/>
<input type="submit" onclick="document.getElementById('hidden').style.display = 'block';" value="Save"/>
<p id="hidden" style="display: none;">Settings saved... Or are they?</p>
