<h2>Success!</h2>
<p>Access token has been issued for:</p>
<ul>
  <li>App ID: <code><%= appId %></code></li>
  <li>Subdomain: <code><%= subdomain %></code></li>
</ul>
<p>Access token was used successfully to send a test message for userId <code><%= user.id %></code></p>
<p>Manage marketplace bot settings in <a href="<%= settingsUrl %>">Admin Center</a></p>
