<p>Success! An access token received and a test message was sent for userId <%= appUser.id %></p>
<p>To access the Sunshine Conversations settings page for this integration, click <a href="<%= url %>">here</a>.</p>
